@charset "utf-8";
/*编码*/

/* 全局CSS reset */
/* 页面设置 */

/* 初始化标签在所有浏览器中的margin、padding值 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button,img{padding: 0; margin: 0;}
html{ _background:url(about:blank);}
/* 酌情修改 */
body,th,td,input,select,textarea,button{font-size:12px;line-height:1 ;} /* 重置页面文字属性 */

img{vertical-align:top;} /* 图片在当前行内的垂直位置 */

/* 清除特殊标记的字体和字号 */
address,caption,cite,code,dfn,em,strong,th,var{font-weight: normal; font-style: normal;} /* 重置样式标签的样式 */

/* 清除列表样式 */
dl,ul,ol,menu,li{list-style:none} /* 重置类表前导符号为onne,menu在HTML5中有效 */

input,button,textarea,select,optgroup,option{font-family:inherit; font-size:inherit; font-style:inherit; font-weight:inherit;}/* 输入控件字体 */
input,select,textarea,button{vertical-align:middle;outline:none;} /* 重置表单控件垂直居中*/
textarea{resize:none}

input[type="submit"]{cursor: pointer;}/* 鼠标样式 */
button{border:0 none;background-color:transparent;cursor:pointer} /* 重置表单button按钮效果 */
input::-moz-focus-inner{border: 0; padding: 0;}

/* 标题元素样式清除, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6{font-size: 100%;font-weight: normal;}

del,ins,a{text-decoration:none;}




